<! DOCTYPE html>
<html>
	<head>
		<title>Daily Flow</title>
		<script src="javascripts\main.min.js"></script>	
		<link rel="stylesheet" type="text/css" href="stylesheets/application.min.css">
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Graduate|Montserrat" rel="stylesheet">
	</head>

	<body data-spy="scroll" data-target="#navbar-menu" data-offset="5">
		<% include navbar %>